body{
    background-image: linear-gradient(to right,#25043d, #6610f2);
}



.navbar navbar-expand-lg navbar-light{
    background-image: linear-gradient(to right, #25043d, #6610f2);
}

.navbar-brand{
    color: white;
}
p{
    color: white;
}
.mx-3{
    color: #d994ff;
}
.bg-secondary{
    color: white;
}
